// screen stylesheet with box layout

.page-wrapper {
  position: relative;

  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */

  > .ym-wrapper > .ym-wbox {
    //padding-bottom: 200px;
  }
}

.ym-wrapper {
  width: 880px;
  margin: 0 auto;

  .ym-wbox {
    padding: 0 20px;
  }
}

#header {
  padding: 2em 0;

  .logo {
    margin: 0;
  }
}

#topnav {  }

#main {
  padding-bottom: $std-margin;
}

#footer {
  //position: absolute;
  width: 100%;
  //left: 0;
  //bottom: 0;
  //height: 200px;
  background: inline-image("tweed.png") repeat left top;
  *background: image-url("tweed.png") repeat left top;

  .ym-wbox {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.ym-columns {
  margin-top: 2em;
}

.ym-col1 {
  float: right;
  width: 70%;
}

.ym-col2 {
  display:none;
}

.ym-col3 {
  width: auto;
  margin: 0 70% 0 0;
}

.ym-cbox-right {
  padding: 0 0 0 20px;
}

.ym-cbox-left {
  padding: 0 20px 0 0;
}
