// download

@media screen, projection
{

  .download {

    a {
      width: 60%;

      /*display: block;
      float: left;
      width: 50%;
      text-align: center;*/

      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

}
