// download

@media screen, projection
{

  .download {

    a.button {
      width: 80%;

      /*display: block;
      float: left;
      width: 50%;
      text-align: center;*/

      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

}

@media only screen and (min-width: 0px) {
  .download a.button {
    @include box-sizing(border-box);
    width: 100%;
  }
}
