// YAML skiplinks

/* skip links styling */
.ym-skiplinks {
   height: 24px;
   background: #222;

  a.ym-skip:focus,
  a.ym-skip:active {
    color: #fff;
    background: #333;
    border-bottom: 1px #000 solid;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
}
