// extendes tables

/* table cells with nowrap */
th.nowrap,
td.nowrap {
  white-space: nowrap;
}

/* narrow table */
table.narrow {
  margin:  em(19,14) 0 0 0;

  th
  ,td {
    padding: 0 0.5em;
    line-height: em(20,14);
  }

  .boxshadow & {
    th
    ,td {
      line-height: $line-height;
      border: 0 none;
      @include box-shadow(0 -1px 0 0 #ccc);
    }

    tbody tr:first-child th
    ,tbody tr:first-child td {
      @include box-shadow(0 0 0 0 #fff);
    }
  }
}

/* border table */
table.bordertable {
  border:1px #ccc solid;

  thead th {
    background:#e0e0e0;
    border-right:1px #ccc solid;
    border-bottom:1px #ccc solid;
  }

  tbody {
    th {
      border-right:1px solid #ccc;

      &[scope="row"] {
        background:#f0f0f0;
      }
    }

    td {
      border-right:1px solid #ccc;
    }
  }
}
