// image replacement by Nicolas Gallagher (2011)
// http://nicolasgallagher.com/another-css-image-replacement-technique/
@mixin image-replace($image: null, $display: null, $reset-border-background: true) {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;

  // reset the border and background-color
  // see http://css-tricks.com/examples/ImageReplacement/ -> 2012 H5BP Image Replacement
  @if $reset-border-background == true {
    border: 0;
    background-color: transparent;
  }
  @if $image != null {
    @include image-and-dimensions($image, $display);
  } @else if $display != null {
    display: $display;
  }
}

// image replacement from HTML5 boilerplate (2012)
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
@mixin image-replace-h5bp($image: null, $display: null, $reset-border-background: true) {
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }

  @if $reset-border-background == true {
    border: 0;
    background-color: transparent;
  }
  @if $image != null {
    @include image-and-dimensions($image, $display);
  } @else if $display != null {
    display: $display;
  }
}

// Phark Method (2003)
// Very likely the most widely used method.
// Problematic in RTL situations (or anywhere text-align isn't left).
@mixin image-replace-indent($image: null, $display: null, $reset-border-background: false) {
  text-indent: -9999px;

  // reset the border and background-color
  @if $reset-border-background == true {
    border: 0;
    background-color: transparent;
  }
  @if $image != null {
    @include image-and-dimensions($image, $display);
  } @else if $display != null {
    display: $display;
  }
}

// set dimensions to a given image
@mixin image-dimensions($image) {
  width: image-width($image);
  height: image-height($image);
}

// set background image and dimensions
@mixin image-and-dimensions($image, $display: null){
  @if $display != null {
    display: $display;
  }
  background: transparent image-url("#{$image}") no-repeat;
  @include image-dimensions($image);
}
