// base screen styles within @media screen, projection { ... }

html, body, form {
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

/* force vertical scrollbar */
body {
  //padding: 0;
  //margin: 0;
  overflow-y: scroll;

  background-color: $c-bodybg;

  //background: inline-image("body_bg.png") repeat left top;
  //*background: image-url("body_bg.png") repeat left top;

  background: inline-image("fabric_of_squares_gray.png") repeat left top;
  *background: image-url("fabric_of_squares_gray.png") $c-bodybg;
}
