// Entypo variables
$en-css-prefix:     en !default;

// Entypo
$en-add-to-list: "\E003";
$en-add-user: "\E700";
$en-address: "\E723";
$en-adjust: "\25D1";
$en-air: "\1F4A8";
$en-airplane: "\2708";
$en-archive: "\E800";
$en-area-graph: "\1F53E";
$en-arrow-combo: "\E74F";
$en-attach: "\1F4CE";
$en-back-in-time: "\E771";
$en-back: "\1F519";
$en-bag: "\1F45C";
$en-bar-graph: "\1F4CA";
$en-battery: "\1F50B";
$en-beamed-note: "\266B";
$en-bell: "\1F514";
$en-block: "\1F6AB";
$en-book: "\1F4D5";
$en-bookmark: "\1F516";
$en-bookmarks: "\1F4D1";
$en-box: "\1F4E6";
$en-briefcase: "\1F4BC";
$en-browser: "\E74E";
$en-brush: "\E79A";
$en-bucket: "\1F4FE";
$en-calendar: "\1F4C5";
$en-camera: "\1F4F7";
$en-cart: "\E73D";
$en-cc-by: "\1F546";
$en-cc-nc-eu: "\1F548";
$en-cc-nc-jp: "\1F549";
$en-cc-nc: "\1F547";
$en-cc-nd: "\1F54B";
$en-cc-pd: "\1F54C";
$en-cc-remix: "\1F54F";
$en-cc-sa: "\1F54A";
$en-cc-share: "\1F54E";
$en-cc-zero: "\1F54D";
$en-cc: "\1F545";
$en-ccw: "\27F2";
$en-cd: "\1F4BF";
$en-chat: "\E720";
$en-check: "\2713";
$en-chevron-down: "\E75C";
$en-chevron-left: "\E75D";
$en-chevron-right: "\E75E";
$en-chevron-small-down: "\E760";
$en-chevron-small-left: "\E761";
$en-chevron-small-right: "\E762";
$en-chevron-small-up: "\E763";
$en-chevron-thin-down: "\E764";
$en-chevron-thin-left: "\E765";
$en-chevron-thin-right: "\E766";
$en-chevron-thin-up: "\E767";
$en-chevron-up: "\E75F";
$en-circled-cross: "\2716";
$en-circled-down: "\E758";
$en-circled-help: "\E704";
$en-circled-info: "\E705";
$en-circled-left: "\E759";
$en-circled-minus: "\2296";
$en-circled-plus: "\2295";
$en-circled-right: "\E75A";
$en-circled-up: "\E75B";
$en-clipboard: "\1F4CB";
$en-clock: "\1F554";
$en-cloud: "\2601";
$en-code: "\E714";
$en-cog: "\2699";
$en-comment: "\E718";
$en-compass: "\E728";
$en-credit-card: "\1F4B3";
$en-cross: "\274C";
$en-cup: "\2615";
$en-cw: "\27F3";
$en-cycle: "\1F504";
$en-database: "\1F4F8";
$en-db-logo: "\1F5F9";
$en-db-shape: "\1F5FA";
$en-direction: "\27A2";
$en-doc: "\E730";
$en-docs: "\E736";
$en-dot: "\23F4";
$en-down-bold: "\E4B0";
$en-down-thin: "\2193";
$en-down: "\2B07";
$en-download: "\1F4E5";
$en-drive: "\1F4FD";
$en-droplet: "\1F4A7";
$en-erase: "\232B";
$en-export: "\E715";
$en-eye: "\E70A";
$en-fb: "\23EA";
$en-feather: "\2712";
$en-ff: "\23E9";
$en-flag: "\2691";
$en-flash: "\26A1";
$en-flashlight: "\1F526";
$en-flow-branch: "\1F569";
$en-flow-cascade: "\1F568";
$en-flow-line: "\1F56B";
$en-flow-parallel: "\1F56C";
$en-flow-tree: "\1F56A";
$en-folder: "\1F4C1";
$en-forward: "\27A6";
$en-gauge: "\1F6C7";
$en-globe: "\1F30E";
$en-graduation-cap: "\1F393";
$en-hair-cross: "\1F3AF";
$en-heart-empty: "\2661";
$en-heart: "\2665";
$en-help: "\2753";
$en-home: "\2302";
$en-hourglass: "\23F3";
$en-inbox: "\E777";
$en-infinity: "\221E";
$en-info: "\2139";
$en-install: "\E778";
$en-key: "\1F511";
$en-keyboard: "\2328";
$en-landscape-doc: "\E737";
$en-language: "\1F394";
$en-layout: "\268F";
$en-leaf: "\1F342";
$en-left-bold: "\E4AD";
$en-left-thin: "\2190";
$en-left: "\2B05";
$en-level-down: "\21B3";
$en-level-up: "\21B0";
$en-lifebuoy: "\E788";
$en-light-bulb: "\1F4A1";
$en-light-down: "\1F505";
$en-light-up: "\1F506";
$en-line-graph: "\1F4C8";
$en-link: "\1F517";
$en-list: "\2630";
$en-location: "\E724";
$en-lock-open: "\1F513";
$en-lock: "\1F512";
$en-login: "\E740";
$en-logout: "\E741";
$en-loop: "\1F501";
$en-magnet: "\E7A1";
$en-mail: "\2709";
$en-map: "\E727";
$en-megaphone: "\1F4E3";
$en-mic: "\1F3A4";
$en-minus: "\2796";
$en-mobile: "\1F4F1";
$en-monitor: "\1F4BB";
$en-moon: "\263D";
$en-mouse: "\E789";
$en-music: "\1F3B5";
$en-mute: "\1F507";
$en-network: "\E776";
$en-new: "\1F4A5";
$en-newspaper: "\1F4F0";
$en-note: "\266A";
$en-numbered-list: "\E005";
$en-open-book: "\1F4D6";
$en-palette: "\1F3A8";
$en-paper-plane: "\1F53F";
$en-paus: "\2016";
$en-pencil: "\270E";
$en-phone: "\1F4DE";
$en-picture: "\1F304";
$en-pie-chart: "\25F4";
$en-play: "\25B6";
$en-plus: "\2795";
$en-popup: "\E74C";
$en-print: "\E716";
$en-progress-0: "\E768";
$en-progress-1: "\E769";
$en-progress-2: "\E76A";
$en-progress-3: "\E76B";
$en-publish: "\E74D";
$en-quote: "\275E";
$en-record: "\25CF";
$en-reply-all: "\E713";
$en-reply: "\E712";
$en-resize-full: "\E744";
$en-resize-small: "\E746";
$en-retweet: "\E717";
$en-right-bold: "\E4AE";
$en-right-thin: "\2192";
$en-right: "\27A1";
$en-rocket: "\1F680";
$en-rss: "\E73A";
$en-save: "\1F4BE";
$en-search: "\1F50D";
$en-share: "\E73C";
$en-shareable: "\E73E";
$en-shuffle: "\1F500";
$en-signal: "\1F4F6";
$en-sound: "\1F50A";
$en-squared-cross: "\274E";
$en-squared-minus: "\229F";
$en-squared-plus: "\229E";
$en-star-empty: "\2606";
$en-star: "\2605";
$en-stop: "\25A0";
$en-suitcase: "\1F6C6";
$en-sweden: "\F601";
$en-switch: "\21C6";
$en-tag: "\E70C";
$en-text-doc-inverted: "\E731";
$en-text-doc: "\1F4C4";
$en-thermometer: "\1F4FF";
$en-three-dots: "\23F6";
$en-thumbs-down: "\1F44E";
$en-thumbs-up: "\1F44D";
$en-thunder-cloud: "\26C8";
$en-ticket: "\1F3AB";
$en-to-end: "\23ED";
$en-to-start: "\23EE";
$en-tools: "\2692";
$en-traffic-cone: "\1F6C8";
$en-trash: "\E729";
$en-triangle-down: "\25BE";
$en-triangle-left: "\25C2";
$en-triangle-right: "\25B8";
$en-triangle-up: "\25B4";
$en-trophy: "\1F3C6";
$en-two-dots: "\23F5";
$en-up-bold: "\E4AF";
$en-up-thin: "\2191";
$en-up: "\2B06";
$en-upload-cloud: "\E711";
$en-upload: "\1F4E4";
$en-user: "\1F464";
$en-users: "\1F465";
$en-vcard: "\E722";
$en-video: "\1F3AC";
$en-voicemail: "\2707";
$en-volume: "\23F7";
$en-warning: "\26A0";
$en-water: "\1F4A6";

// Entypo Social
$en-s-behance: "\F34E";
$en-s-c-dribbble: "\F31C";
$en-s-c-facebook: "\F30D";
$en-s-c-flickr: "\F304";
$en-s-c-github: "\F301";
$en-s-c-google: "\F310";
$en-s-c-lastfm: "\F322";
$en-s-c-linkedin: "\F319";
$en-s-c-pinterest: "\F313";
$en-s-c-rdio: "\F325";
$en-s-c-skype: "\F33A";
$en-s-c-spotify: "\F328";
$en-s-c-stumbleupon: "\F31F";
$en-s-c-tumblr: "\F316";
$en-s-c-twitter: "\F30A";
$en-s-c-vimeo: "\F307";
$en-s-dribbble: "\F31B";
$en-s-dropbox: "\F330";
$en-s-evernote: "\F333";
$en-s-facebook: "\F30C";
$en-s-flattr: "\F336";
$en-s-flickr: "\F303";
$en-s-github: "\F300";
$en-s-google-circles: "\F351";
$en-s-google: "\F30F";
$en-s-instagram: "\F32D";
$en-s-lastfm: "\F321";
$en-s-linkedin: "\F318";
$en-s-mixi: "\F34B";
$en-s-paypal: "\F342";
$en-s-picasa: "\F345";
$en-s-pinterest: "\F312";
$en-s-qq: "\F32A";
$en-s-rdio: "\F324";
$en-s-renren: "\F33C";
$en-s-s-facebook: "\F30E";
$en-s-sina-weibo: "\F33F";
$en-s-skype: "\F339";
$en-s-smashing: "\F357";
$en-s-soundcloud: "\F348";
$en-s-spotify: "\F327";
$en-s-stumbleupon: "\F31E";
$en-s-tumblr: "\F315";
$en-s-twitter: "\F309";
$en-s-vimeo: "\F306";
$en-s-vk: "\F354";
